{{#partial "content"}}

<h1>CD list!</h1>

{{#if cds}} <!--if posts exist, then -->
{{#each cds }} <!--loop-->
<p></p>
<p>{{ content }}</p> <!--show-->
{{/each}}
{{else}} <!--no posts!-->
<p>No CDs!</p>
{{/if}}


<p>Add a new CD:</p>

<form action="/cds/new" method="POST">
    <label for="content">Cds Description</label>
    <input id="content" name="content" type="text">

    <button type="submit" class="btn btn-default">Add CD</button>
</form>
{{/partial}}

{{> layout.hbs}}